#relationContainer {
  display: flex;
}
#relationDictionary {
  right: 0px;
  min-width: 500px;
}

#relationDictionaryHeader {
  display: flex;
  justify-content: space-between;
}

.relation-input {
  display: flex;
}

.clear-link {
  cursor: pointer;
}
