<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<mat-tab-group class="demo-tab-group">
  <mat-tab label="Material">
    <app-material-form>
    </app-material-form>
  </mat-tab>
  <mat-tab label="Bootstrap">

    <app-bootstrap-form>
    </app-bootstrap-form>

    <div class="row justify-container">
      <label class="col-form-label ng-star-inserted">Payments</label>
      <ag-grid-angular
        class="ag-theme-balham"
        style="width: 100%; height:182px"
        [rowData]="paymentsRecords"
        [columnDefs]="paymentsFields"
      >
      </ag-grid-angular>
    </div>
  </mat-tab>
  <mat-tab label="Foundation">
    <div class="justify-container">
      <app-foundation-form>
      </app-foundation-form>

      <label class="col-form-label ng-star-inserted">Payments</label>
      <ag-grid-angular
        class="ag-theme-balham"
        style="width: 100%; height:182px"
        [rowData]="paymentsRecords"
        [columnDefs]="paymentsFields"
      >
      </ag-grid-angular>
    </div>
  </mat-tab>
  <mat-tab label="Kendo">
    <app-kendo-form>
    </app-kendo-form>

    <label class="col-form-label ng-star-inserted">Payments</label>
    <ag-grid-angular
      class="ag-theme-balham"
      style="width: 100%; height:182px"
      [rowData]="paymentsRecords"
      [columnDefs]="paymentsFields"
    >
    </ag-grid-angular>
  </mat-tab>
  <mat-tab label="Tab 5">
    No content
  </mat-tab>
  <mat-tab label="Tab 6">
    No content
  </mat-tab>
</mat-tab-group>
